@model IEnumerable<News>

@{
    ViewData["Title"] = "AllNews";
}

<h1>AllNews</h1>

<div>
    <h4>News</h4>
    <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Category?.Name</td>
                        <td>@item.Time.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    
</div>

