@{
    ViewData["Title"] = "Home Page";
}
@model List<Category>

@section header{
    <partial name="_Header" />
}

<style>
    .card-title {
        min-height: 60px;
    }

    .card-text {
        min-height: 90px;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* عدد السطور */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>

<div class="container py-5">

    <img src="data:image/png;base64,@ViewBag.QRCode" width="150" height="150"/>
    <div class="row g-4">

        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-4 overflow-hidden">

                <div class="card h-100 shadow-sm border-0 rounded-4">

                    <div class="card-body d-flex flex-column">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-hdd text-primary mb-4" viewBox="0 0 16 16">
                            <path d="M4.5 11a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zM3 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                            <path d="M16 11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V9.51c0-.418.105-.83.305-1.197l2.472-4.531A1.5 1.5 0 0 1
    4.094 3h7.812a1.5 1.5 0 0 1 1.317.782l2.472 4.53c.2.368.305.78.305 1.198V11zM3.655 4.26 1.592 8.043C1.724 8.014 1.86 8 2 8h12c.14 0
    .276.014.408.042L12.345 4.26a.5.5 0 0 0-.439-.26H4.094a.5.5 0 0 0-.44.26zM1 10v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z" />
                        </svg>

                        <h4 class="card-title fw-bold mb-3">
                            @item.Name
                        </h4>

                        <p class="card-text text-muted flex-grow-1">
                            @item.Description
                        </p>
                        <a href="/Home/News/@item.Id" class="fw-bold text-decoration-none link-primary">
                            Learn More
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                            </svg>
                        </a>
                        <div class="bsb-circle bg-accent border border-4 border-accent position-absolute top-100 start-100 translate-middle"></div>

                    </div>

                </div>

            </div>
        }

    </div>

</div>


@*    
<section id="scrollspyServices" class="bsb-service-6 py-5 py-xl-8 bsb-section-py-xxl-1">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                <h3 class="fs-6 mb-2 text-secondary text-center text-uppercase">What We Do?</h3>
                <h2 class="display-5 mb-4 mb-md-5 text-center">We are giving you perfect solutions with our proficient services.</h2>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row gy-4 gy-md-0 gx-xxl-5">
            @foreach(var item in Model)
            {
                <div class="col-12 col-md-4 mb-3 ">
                    <div class="card bg-transparent border-primary rounded-0 overflow-hidden">
                        <div class="card-body">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-hdd text-primary mb-4" viewBox="0 0 16 16">
                                <path d="M4.5 11a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zM3 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                                <path d="M16 11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V9.51c0-.418.105-.83.305-1.197l2.472-4.531A1.5 1.5 0 0 1 
4.094 3h7.812a1.5 1.5 0 0 1 1.317.782l2.472 4.53c.2.368.305.78.305 1.198V11zM3.655 4.26 1.592 8.043C1.724 8.014 1.86 8 2 8h12c.14 0 
.276.014.408.042L12.345 4.26a.5.5 0 0 0-.439-.26H4.094a.5.5 0 0 0-.44.26zM1 10v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z" />
                            </svg>
                            <h3 class="h2 mb-4">@item.Name</h3>
                            <p class="mb-4 text-secondary h-50"> @item.Description
                            </p>
                            <a href="/Home/News/@item.Id" class="fw-bold text-decoration-none link-primary">
                                Learn More
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                </svg>
                            </a>
                            <div class="bsb-circle bg-accent border border-4 border-accent position-absolute top-100 start-100 translate-middle"></div>
                        </div>
                    </div>
                    
                </div>
               

            }
        </div>
    </div>
</section> *@
